.down-section {
    background-color: $color6;
    border: 5px double;
    
    &__h3 {
        font-family: Italianno; 
        font-size: 3rem;
        text-align: center;
        color: $color4;
    }
}
    .btn {
        &--beige {
            float: right;
        }

    

    }

